img{
    width: 100%;
}

a{
    text-decoration: none;
}

.candonglon{
    width: 100%;
    height: 50px;
}

.candonglon2{
    width: 100%;
    height: 50px;
    background-color: black;
}

.image-text {
    padding: 10px 3px 40px;
    text-align: center;
    font-weight: 300;
}

.image-title{
    padding: 20px 3px 10px;
    text-align: center;
    color: #101010;
    font-weight: 520;
}

.candongnho{
    width: 100%;
    height: 25px;
}

.mySlides {display:none}

.caroutside img{
    width: 980px;
    height: 452px;
}
#prevBtn, #nextBtn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#nextBtn {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#nextBtn-2 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#prevBtn:hover, #nextBtn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
#prevBtn-2:hover, #nextBtn-2:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.ChanceColor {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s;
    border-color: white;
    
}
.nextpre-btn{

    width: 50px;
    height: 50px;
    color: white;
    font-size: 30px;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s;
}
.ngoainoithat{
    width: 150px;
    background-color: white;
    border: none;
    font-weight: bold;
}
.CarGallery{
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    width: 100%;
    margin:auto;
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 12px;
}